{% extends "base/layout.html"%}
{% load static %}
{% load filters %}

{% block web_title %}
{{block.super}} - {{ title }}
{% endblock %}

{% block header_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block container%}

<div class="col-sm-4 col-sm-offset-4 text-center srpa-background">
    <div class="col-sm-12">
        <h2>个人信息修改</h2>
    </div>
    <div class="col-sm-12">
        {% include './info_form.html' %}
    </div>
</div>
{% endblock %}

{% block footer_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
{% endblock %}
