{% load filters %}
{% load i18n %}
<div class="center-block">
    <div class="col-sm-8 col-sm-offset-2 col-xs-12">
        <form id="info-form" class="form-horizontal" method="POST" action="{{ form_post_url }}">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon input-group-addon-wide">{{field.label}}:</div>
                    {{field|addcls:'form-control'}}
                </div>
                {% if field.errors %}
                <p class="text-danger">{{field.errors.as_text}}</p>
                {% endif %}
            </div>
            {% endfor %}
            <div class="text-center">
                <button type="submit" class="btn btn-info btn-md btn-block">{% trans 'Submit' %}</button>
                <a href="{{ view.success_url }}" class="btn btn-default btn-md btn-block">{% trans 'Back' %}</a>
            </div>
        </form>
    </div>
</div>
