{% extends "base/layout.html" %}
{% load static %}
{% load filters %}

{% block header_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block footer_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
<script>
function load_auth_form(type)
{
    $.ajax({
        url: "{% url 'auth:register:load_auth_form' %}",
        type: 'GET', 
        data: {'form_type': type},
        success: form_callback,
    });
}
</script>
{% endblock %}
