{% load static %}
{% load filters %}
{% load i18n %}
<div class="col-sm-8 col-sm-offset-2 col-xs-12">
    <form class="form-horizontal" method="POST" action="{% url 'auth:password_change' %}">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span>{% trans 'Enter old password' %}</div>
                {{form.old_password|addcls:'form-control'}}
            </div>
            {% if form.old_password.errors %}
            <p class="text-danger">{{form.old_password.errors.as_text}}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span>{% trans 'Enter new password' %}</div>
                {{form.new_password1|addcls:'form-control'}}
            </div>
            {% if form.new_password1.errors %}
            <p class="text-danger">{{form.new_password1.errors.as_text}}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span>{% trans 'Confirm new password' %}</div>
                {{form.new_password2|addcls:'form-control'}}
            </div>
            {% if form.new_password2.errors %}
            <p class="text-danger">{{form.new_password2.errors.as_text}}</p>
            {% endif %}
        </div>
        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <button type="submit" class="btn btn-info btn-lg btn-block">{% trans 'Submit' %}</button>
            </div>
        </div>
    </form>
</div>
