{% extends "authentication/layout.html" %}
{% load static %}
{% load filters %}

{% block web_title %}
{{block.super}} - 注册
{% endblock %}

{% block header_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block container %}
<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 srpa-background">
    <h2>{{TITLE}}注册</h2>
    <ul class="nav nav-tabs" role="tablist">
        <li class="white{% if identity == USER_IDENTITY_STUDENT %} active{% endif %}"><a type="button" class="btn" onclick="load_auth_form('student_register')" data-toggle="tab">学生</a></li>
        <li class="white{% if identity == USER_IDENTITY_SOCIAL %} active{% endif %}"><a type="button" class="btn" onclick="load_auth_form('social_register')" data-toggle="tab">校外人员</a></li>
    </ul>
    <div id="form">
        {% include './info_form.html' %}
    </div>
</div>
{% endblock %}

{% block footer_js %}
{{block.super}}
{% endblock %}
