{% extends "authentication/layout.html" %}
{% load static %}
{% load filters %}

{% block web_title %}
{{block.super}} - 注册
{% endblock %}

{% block header_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block container %}
<div class="col-sm-4 col-sm-offset-4 text-center srpa-background">
    <h2>{{TITLE}}注册</h2>
    <div class="col-sm-12">
        <ul class="nav nav-tabs" role="tablist">
            <li class="white active"><a onclick="load_auth_form('student_register')" data-toggle="tab">学生</a></li>
            <li class="white"><a onclick="load_auth_form('social_register')" data-toggle="tab">校外人员</a></li>
        </ul>
        <div id="register_form">
        </div>
    </div>
</div>
{% endblock %}

{% block footer_js %}
{{block.super}}
<script id="form_init_load">
load_auth_form('student_register');
$('#form_init_load').remove();
</script>
{% endblock %}
