{% extends "base/layout.html"%}
{% load static %}
{% load filters %}

{% block web_title %}
{{block.super}} - 个人信息
{% endblock %}

{% block header_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block container%}

<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 srpa-background">
    <h2>个人信息</h2>

    <form class="form-horizontal">
        {% include './user_info_detail.html' %}
        <div class="form-group">
            <label class="col-sm-4 col-xs-6 control-label">身份证号:</label>
            <div class="col-sm-8 col-xs-6">
                <p class="form-control-static">{{object.citizen_id}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-xs-6 control-label">职务:</label>
            <div class="col-sm-8 col-xs-6">
                <p class="form-control-static">{{object.title}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-xs-6 control-label">受教育程度:</label>
            <div class="col-sm-8 col-xs-6">
                <p class="form-control-static">{{object.get_education_display}}</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 col-xs-6 control-label">政治面貌:</label>
            <div class="col-sm-8 col-xs-6">
                <p class="form-control-static">{{object.get_political_status_display}}</p>
            </div>
        </div>
    </form>
    <div class="col-sm-6 col-sm-offset-3">
        <a type="button" class="btn btn-info btn-block" href="{% url 'info:update:social' object.uid %}">修改</a>
    </div>
</div>
{% endblock %}

{% block footer_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/auth.js' %}"></script>
{% endblock %}
