<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block web_title %}{{TITLE}}{% endblock %}</title>
        {% block header_css %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/srpa.css' %}">
        {% endblock %}
        {% block header_js %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'index' %}">{{TITLE}}</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {% block navigation %}
                    <ul class="nav navbar-nav">
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'index' %}">主页</a></li>
                        <li><a href="{% url 'reservation:index' %}">活动场地预约</a></li>
                        <li><a href="{% url 'project:index' %}">活动预约审批</a></li>
                        {% endif %}
                    </ul>
                    {% endblock %}
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">欢迎, {{user.first_name}}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>
                                {% if request.user.user_info.identity == USER_IDENTITY_STUDENT %}
                                    <a href="{% url 'auth:info:student' request.user.user_info.uid %}">个人信息</a>
                                {% endif %}
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'auth:logout' %}">退出登录</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><a href="{% url 'auth:register:index' %}">注册</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        {% block before-container %}
        <div class="main-bg"></div>
        {% endblock %}
        <div class="container-fluid text-center">
            <div id="module" class="row">
                {% block container %}
                {% endblock %}
            </div>
        </div>
        {% block footer_js %}
        <script type='text/javascript' src="{% static 'js/jquery.min.js'%}"></script>
        <script type='text/javascript' src="{% static 'js/bootstrap.min.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/srpa.js' %}"></script>
        {% endblock %}
    </body>
</html>
