{% extends "authentication/admin/layout.html" %}
{% load static %}
{% load filters %}
{% load i18n %}

{% block web_title %}
{{block.super}} - {% trans 'Workshop Info' %}
{% endblock %}

{% block container %}
<div class="col-lg-4 col-lg-offset-4 col-xs-10 col-xs-offset-1 srpa-background">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>{% trans 'Workshop Info' %}</h1>
    </div>
    <div class="col-sm-12">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-6 col-xs-6 control-label">{% trans 'Site Description' %}:</label>
                <div class="col-sm-6 col-xs-6">
                    <p class="form-control-static">{{object.desc}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 col-xs-6 control-label">{% trans 'Group Users' %}:</label>
                <div class="col-sm-6 col-xs-6">
                    {% for user in group_users %}
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="form-control-static">{{user}}</p>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </div>
        </form>
        <div class="col-sm-6 col-sm-offset-3">
            <a type="button" class="btn btn-info btn-block" href="{% url 'auth:admin:workshop:update' object.uid %}">{% trans 'Update Workshop' %}</a>
        </div>
    </div>
</div>
{% endblock %}
