{% extends 'SiteReservation/layout.html' %}
{% load static %}
{% block header_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/reservation.css' %}">
{% endblock %}
{% block container %}
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 srpa-background">
    <h3>活动场地预约</h3>
    <ul class="nav nav-tabs" role="tablist">
        <li class="li-page white"><a type="button" class="btn srpa-loader" loader-type="page" loader-target="{% url 'reservation:status' %}">场地预约情况</a></li>
        {% if request.user.user_info.identity == USER_IDENTITY_STUDENT %}
        <li class="li-page white"><a type="button" class="btn srpa-loader" loader-type="page" loader-target="{% url 'reservation:ordinary:list' page=1 %}">我的预约</a></li>
        <li class="li-page white"><a type="button" class="btn srpa-loader" loader-type="page" loader-target="{% url 'reservation:ordinary:add' %}">新的预约申请</a></li>
        {% elif request.user.user_info.identity == USER_IDENTITY_TEACHER %}
        <li class="li-page white"><a type="button" class="btn page-loader" href="#">尚未添加</a></li>
        {% endif %}
    </ul>
    <div id="page">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
{% block footer_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/reservation.js' %}"></script>
{% endblock %}
