{% load i18n %}
<table class="table"> 
    <tr>
        <th>{% trans 'Site' %}</th>
        <th>{% trans 'Workshop' %}</th>
        <th>{% trans 'Activity Time From' %}</th>
        <th>{% trans 'Activity Time To' %}</th>
        <th>{% trans 'Reservation Time' %}</th>
        <th>{% trans 'Status' %}</th>
        <th>{% trans 'Action' %}</th>
    </tr>
    {% for sheet in object_list %}
    <tr>
        <td>{{sheet.site}}</td>
        <td>{{sheet.workshop}}</td>
        <td>{{sheet.activity_time_from}}</td>
        <td>{{sheet.activity_time_to}}</td>
        <td>{{sheet.reservation_time}}</td>
        <td>{{sheet.get_status_display}}</td>
        <td>
            {% if request.user.user_info.identity == USER_IDENTITY_STUDENT %}
            <button class="btn btn-info btn-xs srpa-loader" loader-type='page' loader-target="{% url 'reservation:ordinary:detail' sheet.uid %}">{% trans 'Detail' %}</button>
            {% elif request.user.user_info.identity == USER_IDENTITY_TEACHER %}
            <button class="btn btn-info btn-xs srpa-loader" loader-type='page' loader-target="{% url 'reservation:admin:detail' sheet.uid %}">{% trans 'Detail' %}</button>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% if is_paginated %}
<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li>
            {% if request.user.user_info.identity == USER_IDENTITY_STUDENT %}
            <a class="srpa-loader" loader-type='page' href="#" loader-target="{% url 'reservation:ordinary:list' page=page_obj.previous_page_number %}">
                <span aria-hidden="true">&laquo;</span>
            {% endif %}
            {% if request.user.user_info.identity == USER_IDENTITY_TEACHER %}
            <a class="srpa-loader" loader-type='page' href="#" loader-target="{% url 'reservation:admin:list' page=page_obj.previous_page_number %}">
                <span aria-hidden="true">&laquo;</span>
            {% endif %}
        </a>
        </li>
        {% else %}
        <li class="disabled">
            <a href="#">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for pageid in paginator.page_range %}
            <li {% if pageid == page_obj.number %}class="active"{% endif %}>
                {% if request.user.user_info.identity == USER_IDENTITY_STUDENT %}
                <a class="srpa-loader" loader-type='page' href="#" loader-target="{% url 'reservation:ordinary:list' page=pageid %}">{{ pageid }}</a>
                {% endif %}
                {% if request.user.user_info.identity == USER_IDENTITY_TEACHER %}
                <a class="srpa-loader" loader-type='page' href="#" loader-target="{% url 'reservation:admin:list' page=pageid %}">{{ pageid }}</a>
                {% endif %}
            </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
            {% if request.user.user_info.identity == USER_IDENTITY_STUDENT %}
            <a class="srpa-loader" loader-type='page' href="#" loader-target="{% url 'reservation:ordinary:list' page=page_obj.next_page_number %}">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {% endif %}
            {% if request.user.user_info.identity == USER_IDENTITY_TEACHER %}
            <a class="srpa-loader" loader-type='page' href="#" loader-target="{% url 'reservation:admin:list' page=page_obj.next_page_number %}">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {% endif %}
        </li>
        {% else %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
            <a href="#">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}