{% load i18n %}
<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4 col-xs-6 control-label">{% trans 'Site' %}:</label>
        <div class="col-sm-8 col-xs-6">
            <p class="form-control-static">{{object.site}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 col-xs-6 control-label">{% trans 'Workshop' %}:</label>
        <div class="col-sm-8 col-xs-6">
            <p class="form-control-static">{{object.workshop}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 col-xs-6 control-label">{% trans 'Activity Title' %}:</label>
        <div class="col-sm-8 col-xs-6">
            <p class="form-control-static">{{object.title}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 col-xs-6 control-label">{% trans 'Activity Time From' %}:</label>
        <div class="col-sm-8 col-xs-6">
            <p class="form-control-static">{{object.activity_time_from}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 col-xs-6 control-label">{% trans 'Activity Time To' %}:</label>
        <div class="col-sm-8 col-xs-6">
            <p class="form-control-static">{{object.activity_time_to}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 col-xs-6 control-label">{% trans 'Reservation Time' %}:</label>
        <div class="col-sm-8 col-xs-6">
            <p class="form-control-static">{{object.reservation_time}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 col-xs-6 control-label">{% trans 'Status' %}:</label>
        <div class="col-sm-8 col-xs-6">
            <p class="form-control-static">{{object.get_status_display}}</p>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 col-xs-6 control-label">{% trans 'Comment' %}:</label>
        <div class="col-sm-8 col-xs-6">
            <p class="form-control-static">{{object.comment}}</p>
        </div>
    </div>
    {% if feedbacks %}
    <div class="form-group" >
        <label class="col-sm-4 col-xs-6 control-label">{% trans 'Feedback' %}:</label>
        <div class="col-sm-8 col-xs-6">
            {% for feedback in feedbacks %}
            <div class="row">
                <div class="col-xs-4">
                    <p class="form-control-static">{{feedback.created}}</p>
                </div>
                <div class="col-xs-8">
                    <p class="form-control-static">{{feedback.desc}}</p>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
    {% endif %}
</form>
<div class="col-sm-6 col-sm-offset-3">
    {% if request.user.user_info.identity == USER_IDENTITY_STUDENT %}
    {% if object.status in RESERVATION_STATUS_CAN_EDIT %}
    <a type="button" class="btn btn-info srpa-loader" loader-type='page' loader-target="{% url 'reservation:ordinary:update' object.uid %}">{% trans 'Update' %}</a>
    {% endif %}
    {% if object.status in RESERVATION_STATUS_CAN_CANCEL %}
    <a type="button" class="btn btn-danger" href="{% url 'reservation:ordinary:terminate' object.uid %}" onclick="if(confirm('{% trans 'Are you sure you want to cancel the reservation' %}?')==false)return false;">{% trans 'Cancel' %}</a>
    {% endif %}
    {% if object.status == RESERVATION_APPROVED %}
    <a type="button" class="btn btn-info" href="{% url 'reservation:ordinary:export' object.uid %}">{% trans 'Export' %}</a>
    {% endif %}
    {% elif request.user.user_info.identity == USER_IDENTITY_TEACHER %}
    {% if object.status in RESERVATION_STATUS_CAN_CHECK %}
    <a type="button" class="btn btn-info" href="#" data-toggle="modal" data-target="#modal_form">{% trans 'Audit' %}</a>
    {% endif %}
    {% endif %}
</div>
{% if request.user.user_info.identity == USER_IDENTITY_TEACHER %}
<div class="modal" id="modal_form" tabindex="-1" role="dialog" aria-labelledby="modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form class="form-horizontal" action="{% url 'reservation:admin:update' object.uid %}" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_title">{% trans 'Audit Opinion' %}</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form.target_uid }}
                    {{ form.desc }}
                    {{ form.status }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button type="submit" class="btn btn-primary">{% trans 'Confirm' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
