<table class="table"> 
    <tr>
        <th>场地</th>
        <th>工坊</th>
        <th>预约时间</th>
        <th>活动开始时间</th>
        <th>活动结束时间</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    {% for sheet in object_list %}
    <tr>
        <td>{{sheet.site}}</td>
        <td>{{sheet.workshop}}</td>
        <td>{{sheet.reservation_time}}</td>
        <td>{{sheet.activity_time_from}}</td>
        <td>{{sheet.activity_time_to}}</td>
        <td>{{sheet.status}}</td>
        <td>
            <button class="btn btn-info btn-xs "><a href="#">详情</a></button>
            <button class="btn btn-info btn-xs "><a href="#">修改</a></button>
        </td>
    </tr>
    {% endfor %}
</table>