{% extends 'SiteReservation/base.html' %}
{% block container %}
<div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12 srpa-background">
    <h3>活动场地预约</h3>
    <ul class="nav nav-tabs" role="tablist">
        <li class="white active"><a type="button" class="btn" href="#">场地预约情况</a></li>
        <li class="white"><a type="button" class="btn" href="#">我的预约</a></li>
        <li class="white"><a type="button" class="btn" href="#">新的预约申请</a></li>
    </ul>
    <div class="col-xs-12" style="margin-bottom:2em">
        <form class="form-inline" method="POST">
            {% csrf_token %}
            <div class="form-group col-sm-6">
                <label for="id_date" class="control-label">选择日期</label>
                <div class="input-append input-group form_datetime date">
                    {{form.date}}
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-remove"></span></span>
                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group col-sm-2">
                <label for="id_site" class="control-label">选择场地</label>
                <select class="form-control" id="id_site" placeholder="" name="site">
                    {% for site in sites %}
                    <option value="{{site.uid}}">{{site.desc}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-default">检索</button>
        </form>
    </div>
    <div id="status_table" class="col-xs-12">
        {% include 'SiteReservation/status_table.html' %}
    </div>
</div>
{% endblock %}
{% block footer_js %}
{{ block.super}}
<script type="text/javascript">
$(".form_datetime").datetimepicker({
    format: "yyyy/mm/dd",
    weekStart: 1,
    autoclose: true,
    todayBtn: true,
    startDate: "{% now 'Y/m/d' %}",
    minView: 2,
});
$(function () {
    $('[data-toggle="tooltip"]').tooltip();
})
</script>       
{% endblock %}
