.project-form label{
    font-size: 1em;
}
.project-detail label{
	font-size: 1em;
}
p{
	font-size: 1.2em ;
}
p.text-danger{

    text-align: right;
    color: rgb(235, 66, 56);
}
.hide{
	display: none;
}
