tr, th, td {
    text-align: center;
}

body{
    background: rgb(238, 238, 238);
}

.main-bg{
    position: fixed;
    z-index: -1;
    top: 0;
    background-image: url('/static/imgs/tmp_bg.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.srpa-background{
    background: rgba(0, 0, 0, 0.5);
    padding-bottom: 2em;
    color: white;
    margin-top: 3em;
    border-radius: 2em;
}

.nav-tabs{
    margin-bottom: 2em;
}

.white a{
    color: white;
}

