{% extends "bills/layout.html" %}
{% load static %}

{% block header_css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/bills.css' %}">
{% endblock %}

{% block container %}
<div class="list-div container">
    <div class="list-header">
        <h2>历史记录</h2>
    </div>
    {% include "bills/widgets/search_form.html" %}
    <div class="container">
        <form method="POST" action="{% url 'bills_sheet_delete' %}" id="billsheet_list_form">
            {% csrf_token %}
            {% include "bills/widgets/billsheet_list_table.html" %}
        </form>
    </div>
</div>

</div>
{% endblock %}

{% block footer_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/bills.js' %}"></script>
{% endblock %}
