{% extends 'base/layout.html' %}
{% load static %}
{% block header_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/project.css' %}">
{% endblock %}
{% block container %}
<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 srpa-background">
    <h3>活动预约审批</h3>
    <ul class="nav nav-tabs" role="tablist">
        {% if request.user.user_info.identity == USER_IDENTITY_STUDENT %}
        <li class="li-page white"><a type="button" class="btn srpa-loader" loader-type="page" loader-target="{% url 'project:ordinary:list' page=1 %}">已预约活动</a></li>
        <li class="li-page white"><a type="button" class="btn srpa-loader" loader-type="page" loader-target="{% url 'project:ordinary:add' %}">增加活动项</a></li>
        {% elif request.user.user_info.identity == USER_IDENTITY_TEACHER %}
        <li class="li-page white"><a type="button" class="btn page-loader" loader-type="page" loader-target="{% url 'project:admin:list' %}">活动列表</a></li>
        {% endif %}
    </ul>
    <div id="page">
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
{% block footer_js %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/project.js' %}"></script>
{% endblock %}
