{% block project_content %}
<table class="table"> 
    <tr class="fir_tr">
        <th>申请人</th>
        <th>工坊</th>
        <th>活动内容</th>
        <th>活动负责人</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    {% for sheet in object_list %}
    <tr>
        <td>{{sheet.user}}</td>
        <td>{{sheet.workshop}}</td>
        <td>{{sheet.title}}</td>
        <td>{{sheet.charger}}</td>
        <td>{{sheet.get_status_display}}</td>
        <td>
        	<a class="btn btn-info btn-xs " href="{% url 'project:ordinary:detail'%}">详情</a>
        	<a class="btn btn-info btn-xs " href="#">修改</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
