{% block project_content %}
{% load filters %}
{% load static %}
<!--line 1-->
<form id="info-form" class="form-horizontal project-form" method="POST" action="{% url form_post_url object.uid %}">
{% csrf_token %}
<div class="form-group" >
    <div class="col-sm-2">
        <label class="control-label">{{form.title.label}}:</label>
    </div>
    <div class="col-sm-4">
        {{form.title|addcls:'form-control'}}
    </div>
    {% if form.title.errors %}
        <p class="text-danger">{{form.title.errors.as_text}}</p>
    {% endif %}
    <div class="col-sm-2">
        <label class="control-label">{{form.form.label}}:</label>
    </div>
    <div class="col-sm-4">
        {{form.form|addcls:'form-control'}}
    </div>
    {% if form.form.errors %}
        <p class="text-danger">{{form.form.errors.as_text}}</p>
    {% endif %}
</div>
<!--line 2-->
<div class="form-group" >
    <div class="col-sm-2">
        <label class="control-label">{{form.charger.label}}:</label>
    </div>
    <div class="col-sm-4">
        {{form.charger|addcls:'form-control'}}
    </div>
    {% if form.charger.errors %}
        <p class="text-danger">{{form.charger.errors.as_text}}</p>
    {% endif %}
    <div class="col-sm-2">
        <label class="control-label">{{form.contact_info.label}}:</label>
    </div>
    <div class="col-sm-4">
        {{form.contact_info|addcls:'form-control'}}
    </div>
    {% if form.contact_info.errors %}
        <p class="text-danger">{{form.contact_info.errors.as_text}}</p>
    {% endif %}

</div> 
<!--line 3-->
<div class="form-group" >
    <div class="col-sm-2">
        <label class="control-label">{{form.workshop.label}}:</label>
    </div>
    <div class="col-sm-4">
        {{form.workshop|addcls:'form-control'}}
    </div>
    {% if form.workshop.errors %}
        <p class="text-danger">{{form.workshop.errors.as_text}}</p>
    {% endif %}
     <div class="col-sm-2">
        <label class="control-label">{{form.site.label}}:</label>
    </div>
    <div class="col-sm-4">
        {{form.site|addcls:'form-control'}}
    </div>
    {% if form.site.errors %}
        <p class="text-danger">{{form.site.errors.as_text}}</p>
    {% endif %}
</div>
<!--line 4-->
<div class="form-group" >
    <div class="col-sm-2">
        <label class="control-label">{{form.activity_time_from.label}}:</label>
    </div>
    <div class="col-sm-4">
        {{form.activity_time_from}}
    </div>
    {% if form.activity_time_from.errors %}
        <p class="text-danger">{{form.activity_time_from.errors.as_text}}</p>
    {% endif %}
    <div class="col-sm-2">
        <label class="control-label">{{form.activity_time_to.label}}:</label>
    </div>
    <div class="col-sm-4">
        {{form.activity_time_to}}
    </div>
    {% if form.activity_time_to.errors %}
        <p class="text-danger">{{form.activity_time_to.errors.as_text}}</p>
    {% endif %}
</div> 
<!--line 5-->
<div class="form-group" >
    <div class="col-sm-2">
        <label class="control-label">{{form.activity_range.label}}:</label>
    </div>
    <div class="col-sm-2">
        {{form.activity_range|addcls:'form-control'}}
    </div>
    {% if form.activity_range.errors %}
        <p class="text-danger">{{form.activity_range.errors.as_text}}</p>
    {% endif %}
    <div class="col-sm-2">
        <label class="control-label">{{form.amount.label}}:</label>
    </div>
    <div class="col-sm-2">
        {{form.amount|addcls:'form-control'}}
    </div>
    {% if form.amount.errors %}
        <p class="text-danger">{{form.amount.errors.as_text}}</p>
    {% endif %}
    <div class="col-sm-3">
        <label class="control-label">{{form.has_social.label}}:</label>
    </div>
    <div class="col-sm-1">
        {{form.has_social|addcls:'form-control'}}
    </div>
    {% if form.has_social.errors %}
        <p class="text-danger">{{form.has_social.errors.as_text}}</p>
    {% endif %}
</div> 
<!--line 6-->
<div class="form-group" >
    <div class="col-sm-2">
        <label class="control-label">{{form.content.label}}:</label>
    </div>
    <div class="col-sm-10">
        {{form.content|addcls:'form-control'}}
    </div>
    {% if form.content.errors %}
        <p class="text-danger">{{form.content.errors.as_text}}</p>
    {% endif %}
</div> 
<!--line 7-->
<div class="form-group" >
    <div class="col-sm-2">
        <label class="control-label">{{form.comment.label}}:</label>
    </div>
    <div class="col-sm-10">
        {{form.comment|addcls:'form-control'}}
    </div>
    {% if form.comment.errors %}
        <p class="text-danger">{{form.comment.errors.as_text}}</p>
    {% endif %}
</div>    
<!--line 8-->
<div class="form-group" data-toggle="tooltip" data-placement="top" title="预算及说明请按照‘项目名（空格）预算金额（空格）说明’填写">
    <div class="col-sm-2">
        <label class="control-label">{{form.budget.label}}:</label>
    </div>
    <div class="col-sm-10">
        {{form.budget|addcls:'form-control'}}
    </div>
    {% if form.budget.errors %}
        <p class="text-danger">{{form.budget.errors.as_text}}</p>
    {% endif %}
</div>
{% if form.errors %}
{% for error in form.non_field_errors %}
<p class="text-danger">{{ error }}</p>
{% endfor %}
{% endif %}
<div>
     <button type="submit" class="btn btn-primary btn-md">提交</button>
    <a href="{{ back_url }}" class="btn btn-primary btn-md">返回</a>
</div>
</form>
{% endblock %}
