{% block project_content %}
{% load filters %}
 <form class="form-horizontal" method="POST" action="{% url 'project:ordinary:add' %}">
        {% csrf_token %}
        <!--line 1-->
        <div class="form-group" >
            <div class="input_group">
                <div class="col-sm-2">
                    <label class="control-label">{{form.title.label}}:</label>
                </div>
                <div class="col-sm-4">
                    {{form.title|addcls:'form-control'}}
                </div>
                <div class="col-sm-2">
                    <label class="control-label">{{form.form.label}}:</label>
                </div>
                <div class="col-sm-4">
                    {{form.form|addcls:'form-control'}}
                </div>
            </div>
            <div class="err_group">
            <div class="col-sm-6">
                {% if form.title.errors %}  -->
                    <p class="text-danger">{{ form.title.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if form.form.errors %}
                    <p class="text-danger">{{ form.form.errors.as_text }}</p>
                {% endif %}
            </div>
            </div>
        </div>
        <!--line 2-->
        <div class="form-group" >
            <div class="input_group">
                <div class="col-sm-2">
                    <label class="control-label">{{form.charger.label}}:</label>
                </div>
                <div class="col-sm-4">
                    {{form.charger|addcls:'form-control'}}
                </div>
                <div class="col-sm-2">
                    <label class="control-label">{{form.contact_info.label}}:</label>
                </div>
                <div class="col-sm-4">
                    {{form.contact_info|addcls:'form-control'}}
                </div>
            </div>
            <div class="err_group">
            <div class="col-sm-6">
                {% if form.charger.errors %}  -->
                    <p class="text-danger">{{ form.charger.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if form.contact_info.errors %}
                    <p class="text-danger">{{ form.contact_info.errors.as_text }}</p>
                {% endif %}
            </div>
            </div>
        </div> 
        <!--line 3-->
        <div class="form-group" >
            <div class="input_group">
                <div class="col-sm-2">
                    <label class="control-label">{{form.workshop.label}}:</label>
                </div>
                <div class="col-sm-4">
                    {{form.workshop|addcls:'form-control'}}
                </div>
                 <div class="col-sm-2">
                    <label class="control-label">{{form.site.label}}:</label>
                </div>
                <div class="col-sm-4">
                    {{form.site|addcls:'form-control'}}
                </div>
            </div>
            <div class="err_group">
            <div class="col-sm-6">
                {% if form.workshop.errors %}  -->
                    <p class="text-danger">{{ form.workshop.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if form.site.errors %}
                    <p class="text-danger">{{ form.site.errors.as_text }}</p>
                {% endif %}
            </div>
            </div>
        </div>
        <!--line 4-->
        <div class="form-group" >
            <div class="input_group">
                <div class="col-sm-2">
                    <label class="control-label">{{form.activity_time_from.label}}:</label>
                </div>
                <div class="col-sm-4">
                    {{form.activity_time_from}}
                </div>
                <div class="col-sm-2">
                    <label class="control-label">{{form.activity_time_to.label}}:</label>
                </div>
                <div class="col-sm-4">
                    {{form.activity_time_to}}
                </div>
            </div>
            <div class="err_group">
            <div class="col-sm-6">
                {% if form.activity_time_from.errors %}  -->
                    <p class="text-danger">{{ form.activity_time_from.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if form.activity_time_to.errors %}
                    <p class="text-danger">{{ form.activity_time_to.errors.as_text }}</p>
                {% endif %}
            </div>
            </div>
        </div> 
        <!--line 5-->
        <div class="form-group" >
            <div class="input_group">       
                <div class="col-sm-2">
                    <label class="control-label">{{form.activity_range.label}}:</label>
                </div>
                <div class="col-sm-2">
                    {{form.activity_range|addcls:'form-control'}}
                </div>
                <div class="col-sm-2">
                    <label class="control-label">{{form.amount.label}}:</label>
                </div>
                <div class="col-sm-2">
                    {{form.amount|addcls:'form-control'}}
                </div>
                <div class="col-sm-3">
                    <label class="control-label">{{form.has_social.label}}:</label>
                </div>
                <div class="col-sm-1">
                    {{form.has_social|addcls:'form-control'}}
                </div>
            </div>
            <div class="err_group">
            <div class="col-sm-4">
                {% if form.activity_range.errors %}  -->
                    <p class="text-danger">{{ form.activity_range.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                {% if form.amount.errors %}
                    <p class="text-danger">{{ form.amount.errors.as_text }}</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                {% if form.has_social.errors %}
                    <p class="text-danger">{{ form.has_social.errors.as_text }}</p>
                {% endif %}
            </div>
            </div>
        </div> 
        <!--line 6-->
        <div class="form-group" >
            <div class="input_group">      
                <div class="col-sm-2">
                    <label class="control-label">{{form.budget.label}}:</label>
                </div>
                <div class="col-sm-10">
                    {{form.budget|addcls:'form-control'}}
                </div>
            </div>
            <div class="err_group">
            <div class="col-sm-12">
                {% if form.budget.errors %}  -->
                    <p class="text-danger">{{ form.budget.errors.as_text }}</p>
                {% endif %}
            </div>
            </div>
        </div> 
        <!--line 7-->
        <div class="form-group" >
            <div class="input_group">    
                <div class="col-sm-2">
                    <label class="control-label">{{form.comment.label}}:</label>
                </div>
                <div class="col-sm-10">
                    {{form.comment|addcls:'form-control'}}
                </div>
            </div>
            <div class="err_group">
            <div class="col-sm-12">
                {% if form.comment.errors %}  -->
                    <p class="text-danger">{{ form.comment.errors.as_text }}</p>
                {% endif %}
            </div>
            </div>
        </div>    
        <div>
             <button type="submit" class="btn btn-primary btn-md">提交</button>
            <a href="{{ back_url }}" class="btn btn-primary btn-md">返回</a>
        </div>
    </form>    
{% endblock %}
