{% block project_content %}
{% load static %}
<table class="table"> 
    <tr class="fir_tr">
        <th>申请人</th>
        <th>工坊</th>
        <th>活动内容</th>
        <th>活动负责人</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    {% for sheet in object_list %}
    <tr>
        <td>{{sheet.user}}</td>
        <td>{{sheet.workshop}}</td>
        <td>{{sheet.title}}</td>
        <td>{{sheet.charger}}</td>
        <td>{{sheet.get_status_display}}</td>
        <td>
        	<a type="button" class="btn btn-info btn-xs srpa-loader" loader-type='page' loader-target="{% url 'project:ordinary:detail' sheet.uid %}">详情</a>
        	 {% if sheet.status in PROJECT_STATUS_CAN_EDIT %}
            <a type="button" class="btn btn-info btn-xs srpa-loader" loader-type="page" loader-target="{% url 'project:ordinary:update' sheet.uid %}">修改</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
<script type="text/javascript" src="{% static 'js/project.js' %}"></script>
