{% load i18n %}
<form class="form-horizontal project-detail">
<!--line 1-->
<div class="form-group col-sm-6" >
    <div class="col-sm-4">
        <label class="control-label">{% trans 'Project Title' %}:</label>
    </div>
    <div class="col-sm-8">
        <p class="form-control-static">{{object.title}}</p>
    </div>
</div>
<div class="form-group col-sm-6" >
    <div class="col-sm-4">
        <label class="control-label">{% trans 'Project Form' %}:</label>
    </div>
    <div class="col-sm-8">
        <p class="form-control-static">{{object.form}}</p>
    </div>
</div>
<!--line 2-->
<div class="form-group col-sm-6" >
    <div class="col-sm-4">
        <label class="control-label">{% trans 'Person in Charge' %}:</label>
    </div>
    <div class="col-sm-8">
        <p class="form-control-static">{{object.charger}}</p>
    </div>
</div>
<div class="form-group col-sm-6" >
    <div class="col-sm-4">
        <label class="control-label">{% trans 'Contact Info' %}:</label>
    </div>
    <div class="col-sm-8">
        <p class="form-control-static">{{object.contact_info}}</p>
    </div>
</div> 
<!--line 3-->
<div class="form-group col-sm-6" >
    <div class="col-sm-4">
        <label class="control-label">{% trans 'Workshop' %}:</label>
    </div>
    <div class="col-sm-8">
        <p class="form-control-static">{{object.workshop}}</p>
    </div>
</div>
<div class="form-group col-sm-6" >
     <div class="col-sm-4">
         <label class="control-label">{% trans 'Site' %}:</label>
    </div>
    <div class="col-sm-8">
        <p class="form-control-static">{{object.site}}</p>
    </div>
</div>
<!--line 4-->
<div class="form-group col-sm-6" >
    <div class="col-sm-4">
        <label class="control-label">{% trans 'Activity Time From' %}:</label>
    </div>
    <div class="col-sm-8">
        <p class="form-control-static">{{object.activity_time_from}}</p>
    </div>
</div>
<div class="form-group col-sm-6" >
    <div class="col-sm-4">
        <label class="control-label">{% trans 'Activity Time To' %}:</label>
    </div>
    <div class="col-sm-8">
       <p class="form-control-static">{{object.activity_time_to}}</p>
    </div>
</div> 
<!--line 5-->
<div class="form-group col-sm-6" >
    <div class="col-sm-4">
        <label class="control-label">{% trans 'Project Participant' %}:</label>
    </div>
    <div class="col-sm-8">
        <p class="form-control-static">{{object.get_activity_range_display}}</p>
    </div>
</div>
<div class="form-group col-sm-6" >
    <div class="col-sm-4">
        <label class="control-label">{% trans 'Participant Number' %}:</label>
    </div>
    <div class="col-sm-8">
        <p class="form-control-static">{{object.amount}}</p>
    </div>
</div>
<div class="form-group col-sm-12" >
    <div class="col-sm-2">
        <label class="control-label">{% trans 'Has Social' %}:</label>
    </div>
    <div class="col-sm-10">
        {% if object.has_social == False %}
        <p class="form-control-static">{% trans 'No' %}</p>
        {% else %}
        <p class="form-control-static">{% trans 'Yes' %}</p>
        {% endif %}
    </div>
</div> 
<!--line 6-->
<div class="form-group col-sm-12" >
    <div class="col-sm-2">
        <label class="control-label">{% trans 'Budget Detail' %}:</label>
    </div>
    <div class="col-sm-10">
        <table class="table"> 
            <tr class="fir_tr">
                <th>{% trans 'Budget Item' %}</th>
                <th>{% trans 'Budget Amount' %}</th>
                <th>{% trans 'Budget Description' %}</th>
            </tr>
        {% for item, budget, desc in budgets %}    
            <tr>
                <th>{{item}}</th>
                <th>{{budget}}</th>
                <th>{{desc}}</th>
            </tr>
        {% endfor%}
        </table>
    </div>
</div> 
<!--line 7-->
<div class="form-group col-sm-12" >
    <div class="col-sm-2">
        <label class="control-label">{% trans 'Budget Comment' %}:</label>
    </div>
    <div class="col-sm-10">
        <p class="form-control-static">{{object.comment}}</p>
    </div>
</div>
<!--line 8-->
{% if feed %}
<div class="form-group col-sm-12" >
    <div class="col-sm-2">
        <label class="control-label">{% trans 'Audit Opinion' %}:</label>
    </div>
    <div class="col-sm-10">
        {% for list in feed %}
        <div class="row">
            <div class="col-sm-4">
                <p class="form-control-static">{{list.created}}</p>
            </div>
            <div class="col-sm-8">
                <p class="form-control-static">{{list.desc}}</p>
            </div>
        </div>
        {% endfor%}
    </div>
</div>
{% endif %}
<!--line 9-->
{% if object.status in PROJECT_STATUS_CAN_END_SUBMIT or object.status == PROJECT_FINISH %}
{% if object.attachment %}
    <div class="form-group col-sm-12" >
        <div class="col-sm-2">
            <label class="control-label">{% trans 'Termination Material' %}:</label>
        </div>
        <div class="col-sm-10">
            <a href="/media/{{object.attachment}}"><p class="form-control-static">{{object.attachment}}</p></a>
        </div>
    </div>
{% endif %}
{% endif %}
</form>
{% block opreate %}
<div class="col-sm-6 col-sm-offset-3">
    {% if request.user.user_info.identity == USER_IDENTITY_STUDENT%}
    {% if object.status in PROJECT_STATUS_CAN_EDIT %}
    <a type="button" class="btn btn-primary srpa-loader" loader-type='page' loader-target="{% url 'project:ordinary:update' object.uid %}">{% trans 'Update' %}</a>
    {% endif %}
    {% if object.status in PROJECT_STATUS_CAN_CANCEL %}
    <a type="button" class="btn btn-danger" href="{% url 'project:ordinary:cancel' object.uid %}" onclick="if(confirm('{% trans 'Are you sure you want to cancel the application apply' %}?')==false)return false;">{% trans 'Cancel' %}</a>
    {% endif %}
    {% if object.status == PROJECT_SOCIALFORM_REQUIRED %}
    <a type="button" class="btn btn-primary srpa-loader" loader-type='page' loader-target="{% url 'project:ordinary:social_add' object.uid %}">{% trans 'Fill Additional Form' %}</a>
    {% endif %}
    {% if object.status in PROJECT_STATUS_CAN_EXPORT %}
    <a type="button" class="btn btn-info btn-md " href="{% url 'project:ordinary:export' object.uid %}">{% trans 'Export' %}</a>
    {% endif %}
    {% if object.status in PROJECT_STATUS_CAN_END_SUBMIT %}
    <a type="button" class="btn btn-success srpa-loader" loader-type='page' loader-target="{% url 'project:ordinary:project_end' object.uid %}">{% trans 'Project End' %}</a>
    {% endif %}
    {% endif %}
    {% if request.user.user_info.identity == USER_IDENTITY_TEACHER%}
    {% if object.status in PROJECT_STATUS_CAN_CHECK %}
    <a type="button" class="btn btn-info" href="#" data-toggle="modal" data-target="#modal_form">{% trans 'Audit' %}</a>
    {% endif %} 
    {% if object.status in PROJECT_STATUS_CAN_FINISH %}
    <a type="button" class="btn btn-success" href="#" data-toggle="modal" data-target="#modal_form">{% trans 'Ended Audit' %}</a>
    {% endif %} 
    {% endif %}
    <a href="{{ view.success_url }}" class="btn btn-default btn-md ">{% trans 'Back' %}</a>
</div>
{% endblock %}
{% if request.user.user_info.identity == USER_IDENTITY_TEACHER %}
<div class="modal" id="modal_form" tabindex="-1" role="dialog" aria-labelledby="modal">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form class="form-horizontal" action="{% url 'project:admin:update' object.uid %}" method="POST">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modal_title">{% trans 'Audit Opinion' %}</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {{ form.target_uid }}
                    {{ form.desc }}
                    {{ form.status }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <button type="submit" class="btn btn-primary">{% trans 'Confirm' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% if object.status in PROJECT_STATUS_CAN_FINISH %}
<script type="text/javascript">
    $('#id_status').children('[value = "TERMINATED"]').hide();
</script>>
{% endif %} 